nav {
    width: 100%; 
    color: white; 
}

/*some default ul styling was bumping the background image down somehow? so I reset it*/
nav ul {
    all: unset; 
    position: relative; 
    left: 45%; 
}

nav ul li {
    display: inline-block; 
    margin: 0 10px; 
    font-weight: 500; 
}

nav a {
    color: white; 
}

a:hover {
    color: rgb(209, 207, 207); 
}

#logo {
    width: 80px;
    display: inline-block; 
    vertical-align: middle;  

}

nav p {
    display: inline-block; 
}

.nav-el {
    display: inline-block; 
}
